
<div class="row">

  <!-- button to add recipe -->
  <div class="hidden-print" >
    <a href="" ng-click="addone=true">add recipe</a>
    <input ng-show="addone" type="text" name="recipe_name" placeholder="recipe name" ng-model="recipe_name" >
    <button  ng-show="addone" ng-click="addRecipe()" class="btn btn-primary">+</button>
    - or choose from:
    <!-- CHOOSE RECIPE HERE -->
    <select ng-model="recipe" ng-options="recipe.name for recipe in recipes"  ng-change="selectRecipe(recipe)" bs-typeahead> </select>
  </div>

</div>
<div class="row" ng-show="recipe">
  <div class="col-md-3">
    <h2>{{recipe.name}}</h2>
    <a href="#" ng-click="copyRecipe()" >+copyThisRecipe+</a>  
  </div>
  <div class="col-md-3" >
    NOTES: <textarea ng-model="recipe.notes" ng-change="updateRecipeNotes()" name="notes" e-rows="12" e-cols="60" style="margin: 0px; width: 380px; height: 60px;">{{recipe.notes}}</textarea>
  </div>

  <!-- RECIPE COSTS HERE -->

  <div class="col-md-5 col-md-offset-1">
      {{recipeItems.length}} {{recipeItems.length == 1 ? "item" : "items" }} in recipe.<br>
   
    <!--  BATCH COSTS CALCULATED AND DISPLAYED HERE -->
    <div class="hidden-print">
      Adjust amounts for batch size. <br>
      multiply recipe amounts by :
      <input type='text' size="2" value="{{batch.multiplier}}" e-style="width: 30px" editable-text="batch.multiplier" onaftersave="calculateBatch()" /><br>
    </div>
     <!-- MAKE RECORD OF BATCH PRODUCED -->
     <a class="btn  btn-default btn-sm hidden-print" ng-click="makeBatch()">Make a Batch of {{recipe.name}}</a><br>
    
    BATCH VALUES:<br>
     Cost: {{ batch.multiplier  * recipeTotalCost | currency }}<br>
   
     Total Amt: {{ batch.multiplier * recipeTotalAmount }} {{ batch.units || "grams" }}<br>
   
     Fills: {{ batch.containerCount }}  <input type='text' size="2" value="{{batch.containerSize}}" e-style="width: 30px" editable-text="batch.containerSize" onaftersave="calculateBatch()" />{{ batch.units }} sized vessels<br>
     Cost per each container : {{ (batch.multiplier  * recipeTotalCost)/batch.containerCount | currency }}
  </div>
   
</div>

<!-- CHECK INVENTORY FOR BATCH MULTIPLIED AMOUNTS DISPLAY ANY DEFICIENCIES HERE -->

<!-- END RECIPE AND BATCH COSTS -->

<div class="row"  ng-show="recipe">
 <!-- ADD ITEM TO RECIPE      -->
 <div class="col-md-8 hidden-print">
Select ingredient Type: <select ng-model="selectedType" ng-options="type.name for type in types" ng-change="getItemsNames(selectedType)">
  <option value="">Choose Type</option>
</select>
 select ingredient <select ng-model="additem_id" ng-options="item.name for item in items" ng-change="addItemToRecipe(additem_id)">
   <option value="">Choose Below</option>
 </select> 
</div>
<!-- END ADD ITEM -->
</div>


<!-- RECIPE DETAILS HERE -->
<table class="table table-bordered table-sm table-responsive"  ng-if="recipeItems.length >= 1" >
  <thead>
    <tr>
      <th width="20" class="hidden-print" ><center>-</center></th>
      <th style="display: none;"  class="hidden-print" >index</th>
      <th>
        amount/qty
      </th>
      <th>
        Item Name
      </th>
      <th>
        Type
      </th>
      <th>
        vendor+part
      </th>
      <th>
        cost per
      </th>
      <th>
        description
      </th>
      <th>
        Total
      </th>
      <th class="hidden-print" >
        QtyInStock 
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="recipeitem in recipeItems " ng-if="recipeItems.length >= 1">
     <td  class="hidden-print" ><a href='' ng-click="removeRecipeItem( {'recipe_id':recipeitem.recipe_id,'item_id':recipeitem.item_id } )" ><img src="deleteme.png" width=20 height=20 id="deleteme" ></img></a></td>
     <td  class="hidden-print" style="display: none;">{{$index}}</td>
<!-- amount and units ( 4 grams )-->    
     <td>
      <span e-style="width: 30px;" buttons="no" editable-text="recipeitem.amount" onaftersave="updateRecipeItem( {'recipe_id':recipe_id,'item_id':recipeitem.item_id,'value':recipeitem.amount} )" style="font-size:14px;color:black;" >
      {{(recipeitem.amount * batch.multiplier)}}
      </span>
      {{ recipeitem.unit == "g" ? "grams" : recipeitem.unit }} 
    </td>
<!-- name -->
     <td ng-class="{danger: recipeitem.stockqty < (recipeitem.amount * batch.multiplier) , success: recipeitem.stockqty >= (recipeitem.amount * batch.multiplier)} ">{{recipeitem.name}}</td>


<!--
         <td><span  buttons="no" editable-text="recipeitem.amount"  e-style="width: 30px" onaftersave="updateRecipeItem( {'recipe_id':recipe_id,'item_id':recipeitem.item_id,'value':recipeitem.amount} )">{{(recipeitem.amount * batch.multiplier)}}</span></td>
       -->
       <td>{{recipeitem.type}}</td>
       <td>{{recipeitem.vendor}}+{{recipeitem.vendorpartno}}</td>
<!-- cost per unit -->
       <td>{{recipeitem.cost}} per {{recipeitem.unit}}</td>
<!-- description -->
       <td> {{recipeitem.description}} </td>
<!-- total -->
       <td>{{recipeitem.cost * recipeitem.amount | currency }}</td>
       <td ng-class="{danger: recipeitem.stockqty < recipeitem.amount , success: recipeitem.stockqty >= recipeitem.amount} " ><span class="hidden-print"  >{{recipeitem.stockqty}}</span></td>
     </tr>
   </tbody>
 </table>
 <hr />
 <!-- DEBUG BELOW HERE -->
 <div ng-show="recipe" >
  <a href="" ng-click="showme=true">Show Raw JSON</a>
  <button ng-click="showme=false">Hide it!</button> 
  <pre ng-show="showme">
    <h2>RECIPE JSON</h2>
    {{recipe|json}}
    {{recipeItems | json}}
    <h2>BATCH JSON</h2>
    {{batch|json}}
  </pre>
</div>
